* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.credits-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  padding: 40px;
  text-align: center;
}

.credits-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #ffca28; /* Amarelo */
  padding: 15px;
  border-radius: 10px;
}

.credits-description p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 160px;
  margin-bottom: 40px;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.role {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #888;
}

.footer p {
  font-weight: bold;
}

/* Estilo do botão de voltar */
.back-button-container {
  margin-top: 40px;
}

.back-button {
  background-color: #ffca28; /* Cor amarela */
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
  background-color: #f39c12; /* Cor mais escura */
  transform: scale(1.05);
}

.marca-dagua {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px; 
  opacity: 1; 
  z-index: 10; 
  pointer-events: none; 
}


